body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
    background-color: #E8DCB9;
}
.topInfo {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 175px 1fr;
    grid-gap: 0px;
}
h1 {
    font-size: 7rem;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    padding-left: 10px;
}
.title {
    background-color: #0D1B1E;
    display: block;
}
.title h1 {
    color: white;
}
.titlePhoto {
    background-color: darkgray;
}
img {
    margin: auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mainContent {
    width: 100%;
    margin: auto;
    background-color: #E8DCB9;
}
.blurb {
    padding: 12px;
}
.links {
    padding: 12px;
}
.examples {
    padding: 12px
}
h2 {
    font-size: 4rem;
}
p {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.links p{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.backToHome {
    background-color: #E8DCB9;
    margin: 0px;
    padding: 10px;
    font-style: italic;
}
@media only screen and (min-width: 1420px) {
    .mainContent {
        width: 65%; 
    }
    .topInfo {
        grid-template-rows: 175px 1fr;
    }  
}
@media only screen and (min-width: 1000px) {
    .mainContent {
        width: 65%; 
    }  
}