body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
    background-color: #E8DCB9;
}
.topInfo {
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-gap: 0px;
}
h1 {
    font-size: 7rem;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    padding-left: 10px;
}
.title {
    background-color: #0D1B1E;
}
.title h1 {
    color: white;
}
.titlePhoto {
    background-color: darkgray;
}
img {
    margin: auto;
    display: block;
}
.mainContent {
    width: 200%;
    margin: auto;
    background-color: #E8DCB9;
}
.blurb {
    padding: 12px;
}
h2 {
    font-size: 4rem;
}
a {
    font-size: 3rem;
}
p {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.backToHome {
    background-color: #E8DCB9;
    margin: 0px;
    padding: 10px;
    font-style: italic;
}
@media only screen and (min-width: 1200px) {
    .mainContent {
        width: 65%; 
    }  
}